/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

/* CSS code */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    position: relative;
}
::-webkit-scrollbar {
    width: 12px;
    background-color: #262626;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #3f3f3f; 
    border-radius: 7px;
}
::-webkit-scrollbar-thumb:hover {
    background: #333333; 
}

header {
    background-color: #262626;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    list-style: none;
}

a {
    color: #c6e5ff;
    text-decoration: none;
}
.container {
    width: 1600px;
    margin: auto;
}
.subcontainer {
    width: 85%;
    margin: auto;
}



.navbar {
    width: 100%;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.nav-branding {
    font-size: 1.75rem;
    color: #e5e7eb;
    font-family: "Berkshire Swash", cursive !important;
}

.nav-link {
    transition: 0.3s ease;
}

.nav-link:hover {
    color: #58b1fa;
    transition: 0.3s ease;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 0;
    transform: all 0.3s ease;
    background: #ffffff;
    border-radius: 25px;
}


#home {
    margin-top: 70px;
    /* background-image: linear-gradient( 86.3deg,  rgba(0,119,182,1) 3.6%, rgba(8,24,68,1) 87.6% ); */
    /* background-image: linear-gradient( 173.1deg,  rgba(226,66,249,0.94) 10.2%, rgba(79,147,249,1) 77.3% ); */
    /* background-image: linear-gradient( 96.5deg,  rgba(39,103,187,1) 10.4%, rgba(16,72,144,1) 87.7% ); */
    /* background-image: radial-gradient( circle farthest-corner at 83.7% 4.3%,  rgba(173,0,171,1) 0%, rgba(15,51,92,1) 90% ); */
    background-image: url("bg2.jpg");
    height: 90vh;
}


@media(max-width: 1600px){
    .container {
        width: 100%;
    }
}
@media(max-width: 768px) {
    .hamburger {
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #262626;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .nav-item {
        margin: 16px 0;
    }
    .nav-menu.active {
        left: 0;
    }
}


/* OTHER */
/* .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 40px);
}

h1 {
    font-size: 32px;
    margin-bottom: 20px;
} */
