/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

/* CSS code */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html {
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 12px;
    background-color: #262626;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #3f3f3f; 
    border-radius: 7px;
}
::-webkit-scrollbar-thumb:hover {
    background: #333333; 
}

header {
    background-color: #262626;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    list-style: none;
}

a {
    color: #c6e5ff;
    text-decoration: none;
}
.container {
    width: 1600px;
    margin: auto;
}
.subcontainer {
    width: 85%;
    margin: auto;
}



.navbar {
    width: 100%;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.nav-branding {
    font-size: 1.75rem;
    color: #e5e7eb;
}

.nav-link {
    transition: 0.3s;
}

.nav-link:hover {
    color: #e5e7e5;
    transition: 0.3s;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 0;
    transform: all 0.3s ease;
    background: #ffffff;
    border-radius: 25px;
}

/* ------------------------- */
/* Konteineris: PAGRINDINIS */
#pagrindinis {
    margin-top: 70px;
}
#pagrindinis img {
    max-width: 100%;
    width: 150%;
    height: 89vh;
    display: inline-block;
}
.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    color: #e5e7e5;
    padding: 10px 20px;
    text-align: center;
}
/* ------------------------- */
#apie {
    margin-top: -10px;
    background-color: #262626;
}
  
  
  
@media(max-width: 1600px){
    .container {
        width: 100%;
    }
}
@media(max-width: 768px) {
    .hamburger {
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #262626;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .nav-item {
        margin: 16px 0;
    }
    .nav-menu.active {
        left: 0;
    }
}


/* OTHER */
/* .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 40px);
}

h1 {
    font-size: 32px;
    margin-bottom: 20px;
} */
