/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

/* ------------------------- */
/* PAGRINDINIS CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html {
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 12px;
    background-color: #262626;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #3f3f3f; 
    border-radius: 7px;
}
::-webkit-scrollbar-thumb:hover {
    background: #333333; 
}

/* ------------------------- */
/* NAVIGACIJA */
header {
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
}
.container {
    display: flex;
    width: 100%;
    min-height: 60px;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    /* margin: 0 auto; */
    padding: 0 40px;
}
li {
    list-style: none;
}
a {
    color: #E3D6AD;
    text-decoration: none;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: auto;
    padding: 0 30px;
    min-height: 70px;
    transition: 0.5s;
    border-radius: 20px;
}
.nav-menu {
    display: flex;
    column-gap: 40px;
}
.nav-link {
    transition: 0.3s;
} 
.nav-link:hover {
    color: #e5e7e5;
    transition: 0.3s;
}
.nav-branding {
    font-size: 1.75rem;
    color: #e5e7eb;
}

.nav-scrolled {
    background-color: #303236;
    border-radius: 20px;
    padding: 0px 30px;
    transition: 0.5s;
}
.hamburger {
    display: none;
    cursor: pointer;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 0;
    transform: all 0.3s ease;
    background: #ffffff;
    border-radius: 25px;
}

/* ------------------------- */
/* Konteineris: PAGRINDINIS */
#pagrindinis {
    position: relative;
    text-align: center;
    color: white;
}
#pagrindinis img {
    max-width: 100%;
    width: 150%;
    height: 100vh;
    display: inline-block;
    object-fit: cover;
    background-color: #252629;
}
.main-t {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 28px;
    transform: translate(-50%, -50%);
    background-color: #00000073;
    border-radius: 25px;
    color: #e5e7e5;
    padding: 15px 20px;
    text-align: center;
}

/* ------------------------- */
/* Konteineris: APIE */
#apie {
    background-image: linear-gradient(#262626, #24262b);
    margin-top: -10px;
    padding-top: 50px;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #00000073;
    border-radius: 25px;
    color: #e5e7e5;
    padding: 15px;
    text-align: center;
}

.about-title {
    color: #e2e2e2;
    font-size: 30px;
    margin: 5rem 2rem 1rem 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.about-box {
    max-width: 800px;
    display: block;
    background-color: #1C1C20;
    width: 80%;
    border-radius: 25px;
    margin: auto;
    margin-bottom: 20px;

}
.about {
    width: 80%;
    max-width: 800px;
    transition: 0.3s;
    background-color: #1C1C20;
    padding: 18px;
    border-radius: 25px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    transition: 0.5s ease;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.about:hover {
    background-color: #141215;
    transition: 0.5s ease;
}
.about-box p {
    color: #e5e7eb;
    padding: 30px;
}
.about-t {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about-t h3 {
    padding-left: 10px;
    font-size: 1.5rem;
    font-weight: normal;
    color: #E3D6AD;
    font-weight: 600;
}
.about-d p {
    padding-top: 1rem;
    line-height: 1.6;
    font-size: 1rem;
    color: #c1c2c5;
    padding: 5px 10px;
}
.about-d {
    transition: max-height 1.4s ease;
}

/* ------------------------- */
/* Konteineris: KONTAKTAI */
#kontaktai {
    background-color: #1f1f23;
    margin: 0 auto;
}
.contact-t {
    color: #e2e2e2;
    font-size: 30px;
    padding: 20px;
    padding-top: 70px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.contact-box {
    display: flex;
    flex-flow: row, wrap;
    align-items: center;
    justify-content: center;
}
.contact {
    width: 40%;
    max-width: 800px;
    background-color: #24262B;
    padding: 18px;
    border-radius: 25px;
    align-items: center;
    margin: 25px;
    transition: 0.5s ease;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 4rem;
}
.contact a {
    color: #e5e7eb;
}
.contact-d i {
    margin-right: 10px;
}
/* ------------------------- */
/* Konteineris: KLAUSIMYNAS */
#klausimynas {
    background-color: #1C1C20; 
    min-height: 70vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.faq-title {
    color: #e2e2e2;
    font-size: 30px;
    margin: 5rem 2rem 1rem 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.faq-title-high {
    background: -webkit-linear-gradient(#eee, #333);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.faq {
    width: 80%;
    max-width: 700px;
    cursor: pointer;
    transition: 0.3s;
    background-color: #24262b;
    padding: 18px;
    border-radius: 25px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.faq-q {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.faq-q h3 {
    padding-left: 10px;
    font-size: 17.6px;
    font-weight: normal;
    color: #E3D6AD;
}
.faq-a p {
    padding-top: 1rem;
    line-height: 1.6;
    font-size: 1rem;
    color: #c1c2c5;
    padding: 5px 10px;
}
.faq-a {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.4s ease;
}
.arrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.3s ease-in-out;
    /* padding-left: 10px; */
    font-size: 1.6rem;
    color: #e5e7eb;
    margin-right: 10px;
}
.faq.active .faq-a {
    max-height: 300px;
}
.faq.active i {
    transform: rotate(180deg);
    transition: all 0.3s;
}
i {
    transition: all 0.3s;
}
@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(-10deg);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}
/* ------------------------- */
/* Konteineris: FOOTER */
.footercont {
    max-width: 1170px;
    margin: auto;
    line-height: 1.5;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.footer {
    background-color: #141215;
    padding-top: 70px;
    padding-left: 15px;
}
.footer-col {
    width: 33%;
    padding: 0 15px;
}
.footer-col h4 {
    font-size: 20px;
    text-transform: capitalize;
    color: #e2e2e2;
    margin-bottom: 30px;
    position: relative;
}
.footer-col h4::before {
    content: '';
    position: absolute;
    top: 0;
    top: 30px;
    background: #777777;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col a {
    color: #000000;
}
.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}
.footer-col ul li a {
    font-size: 16px;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover {
    color: #E3D6AD;
    margin-left: 6px;
    transition: all 0.3s ease;
}
.footer-col .social-links a{
    display: inline-block;
    height: 45px;
    width: 45px;
    border-radius: 25px;
    background-color: #303236;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 45px;
    color: #bbbbbb;
    transition: all 0.3s ease;
}
.footer-col .social-links a:hover{
    color: #E3D6AD;
    transition: all 0.5s ease;
    scale: 1.1;
}
.webbrand {
    width: 100%;
    color: #dadada;
    margin: 20px;
    justify-content: center;
    text-align: center;
    font-size: 20px;
}

/* ------------------------- */
/* MEDIA TAGS */
@media(max-width: 1600px){
    .container {
        width: 100%;
    }
}
@media(max-width: 768px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width: 320px) {
    .footer-col {
        width: 100%;
    }
}
@media(max-width: 920px) {
    .contact-box {
        flex-direction: column !important;
    }
    .contact {
        padding: 18px;
        margin: 10px;
        transition: 0.5s ease;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
        width: 80%;
    }
    .contact:last-child {
        margin-bottom: 4rem;
    }
}
@media(max-width: 850px) {
    .hamburger {
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu {
        position: fixed;
        left: -150%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        color: #bbbbbb;
        width: 100%;
        transition: 0.5s;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        align-items: center;
        min-height: 70px;
        background-color: #303236;
        transition: 0.5s;
        padding: 0px 30px;
        transition: 0.5s;
        background-color: transparent;
    }
    .nav-scrolled.active {
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    .drop-scrolled {
        background-color: #303236;
    }
    .nav-item {
        margin: 14px 0;
    }
    .nav-scrolled {
        background-color: #303236;
        border-radius: 20px;
        padding: 0px 30px;
        transition: 0.5s;
    }
    .nav-menu.active {
        left: 0;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}
