/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

/* ------------------------- */
/* PAGRINDINIS CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html {
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 12px;
    background-color: #262626;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #3f3f3f; 
    border-radius: 7px;
}
::-webkit-scrollbar-thumb:hover {
    background: #333333; 
}

/* ------------------------- */
/* NAVIGACIJA */
header {
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
}
.container { /* HEADER__CONTENT */
    display: flex;
    width: 100%;
    min-height: 60px;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}
li { /* NAV__ITEM */
    list-style: none;
}
a {
    color: #c6e5ff;
    text-decoration: none;
}
.navbar { /* NAV */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: auto;
    min-height: 70px;
    transition: 0.5s;
    border-radius: 20px;
}
.nav-menu { /* NAV__LIST */
    display: flex;
    column-gap: 40px;
}
.nav-link { /* NAV__LINK */
    transition: 0.3s;
} 
.nav-link:hover {
    color: #e5e7e5;
    transition: 0.3s;
}
.nav-branding {
    font-size: 1.75rem;
    color: #e5e7eb;
}

.nav-scrolled {
    background-color: #31393F;
    border-radius: 20px;
    margin: 20px;
    padding: 0px 30px;
    transition: 0.5s;
}
.hamburger {
    display: none;
    cursor: pointer;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 0;
    transform: all 0.3s ease;
    background: #ffffff;
    border-radius: 25px;
}

/* ------------------------- */
/* Konteineris: PAGRINDINIS */
#pagrindinis img {
    max-width: 100%;
    width: 150%;
    height: 100vh;
    display: inline-block;
    object-fit: cover;
}
/* .bg-img {
    height: 100vh;
    width: 99.4vw;
    object-fit: cover;
    filter: brightness(0.9);
    position: absolute;
} */
.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #00000073;
    border-radius: 25px;
    color: #e5e7e5;
    padding: 10px 20px;
    text-align: center;
}

/* ------------------------- */
/* Konteineris: APIE */
#apie {
    margin-top: -10px;
    /* background-color: #262626; */
    background-image: linear-gradient(#262626, #24262b);
    height: 70vh;
}

.text-overlay2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    color: #e5e7e5;
    padding: 12px;
    text-align: center;
}

.about-title {
    padding: 50px;
    text-align: center;
    color: #e5e7e5;
}

/* ------------------------- */
/* Konteineris: KLAUSIMYNAS */
#klausimynas {
    background-color: #1C1C20;
    height: 120vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.faq-title {
    color: #e2e2e2;
    margin: 5rem 1rem 1rem 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.faq-title-high {
    background: -webkit-linear-gradient(#eee, #333);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: underline;
}
.accordion {
    background-color: #1C1C20;
    color: #e5e7eb;
    font-size: 1.1rem;
    cursor: pointer;
    padding: 18px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.active {
    background-color: #1C1C20;
}
.active i{
    transform: rotate(180deg);
    transition: 0.5s ease;
}
.panel {
    width: 80%;
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.panel p {
    color: #e5e7eb;
}

/* ------------------------- */
/* Konteineris: FOOTER */
.footercont {
    max-width: 1170px;
    margin: auto;
    line-height: 1.5;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.footer {
    background-color: #141215;
    padding-top: 70px;
    padding-left: 15px;
}
.footer-col {
    width: 33%;
    padding: 0 15px;
}
.footer-col h4 {
    font-size: 20px;
    text-transform: capitalize;
    color: #e2e2e2;
    margin-bottom: 30px;
    position: relative;
}
.footer-col h4::before {
    content: '';
    position: absolute;
    top: 0;
    top: 30px;
    background: #777777;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col a {
    color: #000000;
}
.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}
.footer-col ul li a {
    font-size: 16px;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover {
    color: #e5e7e5;
    margin-left: 6px;
    transition: all 0.3s ease;
}
.footer-col .social-links a{
    display: inline-block;
    height: 45px;
    width: 45px;
    border-radius: 25px;
    background-color: #303236;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 45px;
    color: #bbbbbb;
    transition: all 0.3s ease;
}
.footer-col .social-links a:hover{
    color: #e5e7e5;
    transition: all 0.5s ease;
    scale: 1.1;
}
.webbrand {
    width: 100%;
    color: #dadada;
    margin: 20px;
    justify-content: center;
    text-align: center;
    font-size: 20px;
}
/* ------------------------- */
/* MEDIA TAGS */
@media(max-width: 1600px){
    .container {
        width: 100%;
    }
}
@media(max-width: 768px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width: 320px) {
    .footer-col {
        width: 100%;
    }
}
@media(max-width: 850px) {
    .hamburger {
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -150%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        color: #bbbbbb;
        width: 81%;
        text-align: center;
        transition: 0.5s;
        background-color: #36454fda;
        margin: 20px 71px;
        /* padding: 0px 30px; */
        border-radius: 20px;
    }
    .nav-item {
        margin: 14px 0;
    }
    .nav-menu.active {
        left: 0;
    }
}